body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #515364, #383e42);
    height: 100vh;
    margin: 0;
}

header {
    background: linear-gradient(135deg, #515364, #383e42);
    color: white;
    padding: 20px;
    text-align: center;
}

.instrucciones {
    font-size: 14px;
    opacity: 0.9;
    margin-top: 5px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

form {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input, select {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    border-color: #3949ab;
    outline: none;
}

.error {
    color: red;
    font-size: 13px;
    height: 20px;
    display: block;
}

.btn {
    margin-top: 20px;
    width: 100%;
    background: #3949ab;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #303f9f;
}